@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.43rem;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: inherit !important;
  padding: inherit !important;
}
